.container {
  margin: 0px;
  padding: 0px;
  border: solid 5px black;
  width: 550px;
  height: 303px;
}

.flex {
  border: solid 1px #008000;
  width: 100px;
  height: 150px;
  float: left;
}
