.container{
  width: auto;
  height: 700px;
  
}

.flex1{
  height: auto;
  border: solid black 4px;
  display: flex;
  width: 100%;
  justify-content: stretch;
  flex-wrap: wrap;
}

.flex2{
  background-color: grey;
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 30px 30px;
  flex-wrap: wrap;
  overflow: scroll;
  flex-wrap: wrap;
  width: 100%;
  justify-content: stretch;
  height: auto;
}

.flex3{
  height: auto;
  border: solid black 2px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: stretch;
}


.flex11{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: magenta;
  border: solid black 1px;
  flex-wrap: wrap;
}

.flex1-1{
  width: 48%;
}
.flex1-2{
  width: 16%;
}
.flex1-3{
  width: 16%;
}
.flex1-4{
  width: 16%;
}



.flex3{
  height: auto;
  border: solid black 4px;
}

.flex33{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 15%;
  background-color: magenta;
}



.flex22{
 
  width: 25%;
  height: 33%;
  flex-grow: 1;
  margin: 30px;
  
}

.flex22 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


@media screen and (max-width: 1200px) and (min-width: 600px){    
  .flex11{
    flex-basis: 40vw;
  }
  .flex33{
    flex-basis: 40vw;
  }
  .flex22{
    width: 40%;
    height: 20%;
    flex-grow: 1;
    
  
  }
}

@media screen and (max-width: 599px){
  .flex11{
    flex-basis: 99vw;
  }
  .flex33{
    flex-basis: 100vw;
  }
  .flex22 {
    width: 100%;
  }
}

