.container {
  border: solid 5px black;
  width: 550px;
  height: 303px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.flex {
  border: solid 1px #008000;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  margin-top: 115px;
}

.flex-1 {
  background-color: yellow;
}

.flex-2 {
  background-color: red;
}

.flex-3 {
  background-color: blue;
}

.flex-4 {
  background-color: purple;
}
