.container {
  border: solid 5px black;
  width: auto;
  height: 600px;
  justify-content: stretch;
  flex-wrap: wrap;
  display: flex;
}

.flex {
  border: solid 1px #008000;
  flex-basis: 19vw;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  flex-grow: 1;
}
.flex-1 {
  background-color: yellow;
}

.flex-2 {
  background-color: red;
}

.flex-3 {
  background-color: blue;
}

.flex-4 {
  background-color: purple;
  height: 30px;
}
