.tekst1 {
  color: green;
}

.tekst2 {
  color: red;
}

.tekst3 {
  color: lightblue;
}

.tekst4 {
  color: blue;
}

.tekst5 {
  color: green;
}

.tekst6 {
  color: green;
  font-size: 70px;
}
