* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.links {
  float: left;
  width: 75%;
  padding-bottom: 20px;
  position: relative;
}

.rechts {
  float: right;
  width: 25%;
}

.onder {
  padding-top: 20px;
  border-top: solid 10px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.onder img {
  width: 320px;
  height: 160px;
}

h1 {
  color: green;
}

h2 {
  color: red;
}

h3 {
  color: green;
}

.foto1 {
  width: 500px;
  height: 500px;
  padding: 125px;
  border: 10px black;
  box-sizing: 20px;
  border-style: solid;
  border-color: black;
}

.text2 {
  float: left;
  padding-right: 50px;
  position: relative;
}

.text3 {
  color: green;
}

.text4 {
  float: left;
}

.text5 {
  float: left;
}

.text6 {
  float: left;
}

.text7 {
  float: right;
  color: green;
}

.img1 {
  float: left;
  margin-left: 350px;
  position: relative;
  border-radius: 50%;
}

.text8 {
  position: absolute;
  top: 50%;
  right: 50%;
}
